**/node_modules
**/dist
**/.next
**/.turbo
**/.cache
**/.vite
**/coverage
**/.DS_Store

.git
.gitignore

dev.db
test.db
*.db
prisma/dev.db
prisma/test.db

playwright-report
test-results

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.vscode
.idea
